@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.collaboration-cursor__caret {
  border-left: 2px solid;
  border-right: 2px solid;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  left: -2px;
  line-height: 1;
  padding: 3px 6px;
  position: absolute;
  top: -1.5em;
  user-select: none;
  white-space: nowrap;
}

input {
  color: #111827;
}

.tiptap, .tiptap p, .prose {
  color: #111827;
}